@model UnionDatabaseV1.DAL.User

<li class="nav-item">
    <a href="@Url.Action("Index", "Home")">Beranda</a>
</li>


@if (Model.Akses != 0)
{
    @Html.Action("ManajemenAnggota", "Layout")
    <li class="nav-item">
        <a href="@Url.Action("Index", "StructureChart")">Kepengurusan</a>
    </li>

    if (Model.Akses != 1)
    {
        <li class="nav-item">
            <a href="@Url.Action("Show", "OrganizationalData")">Data Organisasi</a>
        </li>
    }

}

@if (Model.Akses == 1)
{
    <li class="nav-item">
        <a href="#">Administrator</a>
        <ul class="sub-menu">
            <li><a href="@Url.Action("Index", "Puk")">PUK</a></li>
            <li><a href="@Url.Action("Index", "Users")">Akses</a></li>
            <li><a href="@Url.Action("Index", "FileManagers")">Manajemen File</a></li>
            <li><a href="@Url.Action("Index", "OrganizationalData")">Data Organisasi</a></li>
            <li><a href="@Url.Action("Index", "StructureManagement", new { puk = "all" })">Manajemen Kepengurusan</a></li>
        </ul>
    </li>
}

