@model UnionDatabaseV1.DAL.User

<li class="nav-item">
    <a href="@Url.Action("Index", "Home")">Home</a>
</li>



@if (Model.Akses != 0)
{

    @Html.Action("ManajemenAnggota", "Layout")


    <li class="nav-item">
        <ul class="sub-menu"></ul>
    </li>
}

@if (Model.Akses == 1)
{
    <li class="nav-item">
        <a href="#">Administrator</a>
        <ul class="sub-menu">
            <li><a href="@Url.Action("Index", "Puk")">PUK</a></li>
            <li><a href="@Url.Action("Index", "Users")">Akses</a></li>
            <li><a href="@Url.Action("Index", "FileManagers")">File Manager</a></li>
        </ul>
    </li>
}

