<!DOCTYPE html>
<html lang="en">
<head>
    <!--====== Required meta tags ======-->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/admin")

    <style>
        .dropdown-menu {
        m   in-width: 200px;
        }
            .dropdown-menu.columns-2 {
                min-width: 400px;
            }
            .dropdown-menu.columns-3 {
                min-width: 600px;
            }
            .dropdown-menu li a {
                padding: 5px 15px;
                font-weight: 300;
            }
            .multi-column-dropdown {
                list-style: none;
            }
            .multi-column-dropdown li a {
                display: block;
                clear: both;
                line-height: 1.428571429;
                color: #333;
                white-space: normal;
            }
            .multi-column-dropdown li a:hover {
                text-decoration: none;
                color: #262626;
                background-color: #f5f5f5;
            }

            @@media (max-width: 767px) {
                .dropdown-menu.multi-column {
                    min-width: 240px !important;
                    overflow-x: hidden;
                }
            }
    </style>
</head>
<body>
    <div class="preloader">
        <div class="loader rubix-cube">
            <div class="layer layer-1"></div>
            <div class="layer layer-2"></div>
            <div class="layer layer-3 color-1"></div>
            <div class="layer layer-4"></div>
            <div class="layer layer-5"></div>
            <div class="layer layer-6"></div>
            <div class="layer layer-7"></div>
            <div class="layer layer-8"></div>
        </div>
    </div>

    <!--====== HEADER PART START ======-->
    <header id="header-part" class="mb-3">


        <div class="header-logo-support pt-10 pb-10" style="background-color: #f05128">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <div class="logo">
                            <a href="index-2.html">
                                <img src="@Url.Content("~/Content/img/header.png")" style="max-width:250%!important" alt="Logo">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-8 pt-10">
                        <div class="float-right d-none d-md-block mt-40">
                            @Html.Action("Login", "Layout")
                        </div>
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- header logo support -->
        <!--/.navbar-->

        <div class="navigation" style="border-bottom:1px solid rgb(33, 57, 69)">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-md-10 col-sm-9 col-8">
                        <nav class="navbar navbar-expand-lg">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>

                            <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                                <ul class="navbar-nav mr-auto">
                                    @Html.Action("NavBar", "Layout")
                                </ul>
                            </div>
                        </nav> <!-- nav -->
                    </div>

                </div> <!-- row -->
            </div> <!-- container -->
        </div>

    </header>

    <!--====== HEADER PART ENDS ======-->
    <!-- Modal -->

    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    Silahkan melakukan login..
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">

                        <div class="form-group row">
                            @Html.Label("Nomor Anggota", htmlAttributes: new { @class = "control-label col-md-5" })
                            <div class="col-md-7">
                                @Html.Editor("NomorAnggota", new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>


                        <br />
                        <div class="form-group row">
                            @Html.Label("Password", htmlAttributes: new { @class = "control-label col-md-5" })
                            <div class="col-md-7">
                                @Html.Editor("Password", new { htmlAttributes = new { @class = "form-control", @placeholder = "dapat dikosongkan selain admin", @type = "password" } })
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="loginBtn" class="btn btn-primary">Login</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Tutup</button>
                </div>
            </div>

        </div>
    </div>

    @{
        var cont = "container";
    }

    @if (ViewBag.removeContainer != null)
    {
        cont = "container-fluid";
    }

    <div class="@cont body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - SPEE FSPMI Batam System</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/admin")
    @RenderSection("scripts", required: false)

    <script>
        $("#loginBtn").click(function (e) {
            e.preventDefault();

            if ($("#NomorAnggota").val() == "") {
                alert("Nomor anggota tidak boleh kosong!");
                return;
            }

            $.ajax({
                url: '@Url.Action("Login", "Home")',
                type: 'POST',
                cache: false,
                data: {
                    Username: $("#NomorAnggota").val(),
                    Password: $("#Password").val()
                },
                success: function (data) {
                    if (data == "success") {
                        location.reload();
                    } else {
                        alert(data);
                    }
                },
                error: function () {
                    alert("error");
                }
            });
        });

        $('li.has-mega-menu').each(function (idx, val) {
            var set = 6, //Number of links to display in each column
                buffer = [],
                dropdown = $('.dropdown-menu', this),
                children = dropdown.children(),
                cols = Math.ceil(children.length / set),
                col_class = 'col-6 col-md-' + (cols >= 5 ? '2' : (cols == 4 ? '3' : (cols == 3 ? '4' : 'x'))),
                container_class = 'px-0 container container-' + (cols == 2 ? 'sm' : (cols == 3 ? 'md' : (cols == 4 ? 'lg' : (cols >= 5 ? 'xl' : 'x'))));

            for (var i = 0; i < cols; i++) {
                buffer.push('<div class="' + col_class + '">');
                children.slice(i * set, (i + 1) * set).each(function () {
                    buffer.push($(this).prop('outerHTML'));
                });
                buffer.push('</div>');
            }

            dropdown.html('<div class="' + container_class + '"><div class="row">' + buffer.join('\n') + '</div></div>');
        });
    </script>

</body>
</html>
