@model UnionDatabaseV1.DAL.PUK

@{
    ViewBag.Title = "Ubah Nama PUK";
}

<h2>PUK</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Ubah Nama PUK</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.PUK1, "PUK", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PUK1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PUK1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Simpan" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<br />
<div>
    @Html.ActionLink("Kembali ke list manajemen PUK", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
